@page "/GravarNFC"

@inherits GravarNFCBase

<MudText Typo="Typo.h6" Class="mb-3">
    Gravar NFC
</MudText>

<section class="d-flex justify-center">
    <MudGrid>
        <MudItem xs="12" sm="12" md="5" lg="5" xl="5" xxl="5">
            <MudCard Outlined="true">
                <MudCardContent Class="pt-0 px-0">
                    @if (Load)
                    {
                        <MudProgressLinear Color="Color.Primary" Indeterminate="true" />
                    }

                    <section class="mx-4 my-3">
                        <MudText Typo="Typo.overline">
                            Dados do Dispositivo
                        </MudText>
                        <MudGrid Spacing="0">
                            <MudItem xs="4" sm="3" md="3" lg="3" xl="3" xxl="3">
                                <MudText Typo="Typo.caption">
                                    Dispositivo
                                </MudText>
                            </MudItem>
                            <MudItem xs="8" sm="9" md="9" lg="9" xl="9" xxl="9">
                                <MudText Typo="Typo.caption" Color="@StatusDispositivoColor">
                                    @StatusDispositivoText
                                </MudText>
                            </MudItem>
                            <MudItem xs="4" sm="3" md="3" lg="3" xl="3" xxl="3">
                                <MudText Typo="Typo.caption">
                                    Operação
                                </MudText>
                            </MudItem>
                            <MudItem xs="8" sm="9" md="9" lg="9" xl="9" xxl="9">
                                <MudText Typo="Typo.caption" Color="@OperacaoColor">
                                    @OperacaoText
                                </MudText>
                            </MudItem>
                        </MudGrid>
                    </section>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="12" md="7" lg="7" xl="7" xxl="7">
            <MudCard Outlined="true">
                <MudCardContent>
                    <MudGrid>
                        <MudItem xs="12" sm="12" md="12" lg="12" xl="12" xxl="12">
                            <MudTextField T="string"
                                          Counter="50"
                                          MaxLength="50"
                                          HelperText="O Nome deve-se ter no máximo 50 characters."
                                          Immediate="true"
                                          Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))"
                                          Label="Nome"
                                          Placeholder="Digite o seu nome"
                                          @bind-Value="Model.Nome"
                                          Variant="Variant.Text" />
                        </MudItem>
                        <MudItem xs="12" sm="12" md="12" lg="6" xl="6" xxl="6">
                            <MudDatePicker Label="Data de Nascimento"
                                           @bind-Date="Model.Data"
                                           ReadOnly="false"
                                           DateFormat="dd/MM/yyyy"
                                           PickerVariant="PickerVariant.Dialog" />
                        </MudItem>
                        <MudItem xs="12" sm="12" md="12" lg="6" xl="6" xxl="6">
                            <MudTextField T="Guid"
                                          Immediate="true"
                                          Label="Hash"
                                          @bind-Value="Model.Hash"
                                          Disabled="true"
                                          Variant="Variant.Text" />
                        </MudItem>
                    </MudGrid>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-end">
                    <MudButton DisableElevation="true"
                               Variant="Variant.Filled"
                               StartIcon="@Icons.Material.Rounded.Nfc"
                               Size="Size.Small"
                               Color="Color.Primary"
                               OnClick="GravarNFC"
                               Disabled="Load">Gravar NFC</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</section>