@page "/"
@page "/Inicio"

<MudGrid>
    <MudItem xs="12" sm="12" md="12" lg="10" xl="10">
        <h1>BlazorNFC</h1>

        <MudGrid>
            <MudItem xs="12" sm="12" md="2" lg="2" xl="2" xxl="2">
                <div class="d-flex justify-center">
                    <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_hc7sihdg.json"
                                   background="transparent"
                                   speed="1"
                                   style="width: 200px; height: 200px;"
                                   loop autoplay></lottie-player>

                </div>
            </MudItem>
            <MudItem xs="12" sm="12" md="10" lg="10" xl="10" xxl="10">
                <MudText Typo="Typo.subtitle1" Class="mt-5" Align="Align.Justify">
                    A comunicação de campo próximo, ou NFC, tornou-se uma parte importante do mundo eletrônico nos últimos anos.
                    Essa tecnologia é usada em dispositivos móveis para permitir que as pessoas compartilhem dados com segurança apenas
                    ao tocá-los. Com esse avanço, ele também está sendo usado para outras coisas, como pagamentos sem contato e entrada
                    de porta.
                </MudText>

                <MudText Typo="Typo.subtitle1" Align="Align.Justify">
                    Embora isso possa parecer nada simples, a verdade é que o NFC pode ser bastante fácil quando você sabe como usá-lo
                    corretamente. Então pegue seu telefone e aprenda como usar NFC hoje!
                </MudText>
            </MudItem>
            <MudItem xs="12" sm="12" md="12" lg="12" xl="12" xxl="12">
                <MudText Typo="Typo.subtitle1" Align="Align.Justify">
                    A etiqueta NFC permite que você compartilhe dados com segurança entre dois dispositivos, geralmente com um toque ou
                    toque da tela de um dispositivo contra a tela de outro dispositivo. Ele também pode ser transmitido entre diferentes
                    dispositivos da mesma maneira. Por exemplo, se você não deseja manter seu / undefined [telefone com você o tempo todo,
                    pode configurar uma etiqueta NFC em seu telefone com seu número de ID do Android. Então, quando você quiser pagar por
                    algo em uma loja, basta encostá-lo na etiqueta NFC de outro dispositivo. Se você tem uma parceria com um banco que permite
                    pagamentos com cartão sem contato, basta tocar a etiqueta NFC do telefone desse banco contra o seu e seu cartão de débito
                    passará pela transação imediatamente.
                </MudText>
            </MudItem>
            <MudItem xs="12" sm="12" md="12" lg="12" xl="12" xxl="12">
                <MudText Typo="Typo.subtitle1" Align="Align.Justify">
                    Os pagamentos sem contato também estão se tornando cada vez mais populares. Na verdade, cerca de metade de todos os cartões
                    de crédito usados ​​para compras agora oferecem suporte a essa tecnologia. Os telefones celulares habilitados para NFC permitem
                    que os clientes paguem por suas mercadorias simplesmente tocando-as no terminal do ponto de venda, em vez de passar pelo processo
                    tradicional de pagamento com cartão de crédito. As empresas estão cada vez mais aceitando esses itens, com muitas redes de lojas
                    oferecendo suas próprias etiquetas NFC de marca que os clientes podem tocar em seus telefones para obter acesso a cupons ou outras
                    ofertas nas compras. Claro, o uso dessa tecnologia não se limita apenas a essas lojas. Qualquer empresa pode usá-lo se estiver
                    procurando a melhor maneira de facilitar as transações do cliente.
                </MudText>
            </MudItem>
            <MudItem xs="12" sm="12" md="12" lg="12" xl="12" xxl="12">
                <MudText Typo="Typo.subtitle1" Align="Align.Justify">
                    A principal coisa de que você precisa para usar seu telefone para pagamentos sem contato é um dispositivo habilitado para NFC.
                </MudText>
            </MudItem>
        </MudGrid>
    </MudItem>
    <MudItem xs="12" sm="12" md="12" lg="2" xl="2">

    </MudItem>
</MudGrid>